@{
    ViewData["Title"] = "Regions";

}


<h1>@ViewData["Title"]</h1>

<table>
    <thead>

        <th>Id</th>
        <th>Name</th>
        <th>code</th>

    </thead>
    <tbody>

        <tr></tr>
    </tbody>

</table>